# Uncomment to enable Azure Monitor OpenTelemetry
# Ref: aka.ms/functions-azure-monitor-python 
# azure-monitor-opentelemetry 

azure-functions

PyJWT[crypto]==2.10.1
requests==2.32.3
psycopg[binary]==3.2.3
